<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto-Sim (Bitcoin)</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/coins.css" />
    <style>
      body {
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Crypto-Sim</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="../public/login">Log Out</a>
        </li>
      </ul>
    </nav>

    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="coinsPage">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                  <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                  <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                Dashboard
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="addBalance">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
                  <circle cx="9" cy="21" r="1"></circle>
                  <circle cx="20" cy="21" r="1"></circle>
                  <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                Balance
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
                  <line x1="18" y1="20" x2="18" y2="10"></line>
                  <line x1="12" y1="20" x2="12" y2="4"></line>
                  <line x1="6" y1="20" x2="6" y2="14"></line>
                </svg>
                Reports
              </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
          <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
          </div>
          <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
            <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
          </div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">Dashboard</h1>
          <select>
            <option>Bitcoin (BTC)</option>
            <option>Ethereum (ETH)</option>
            <option>Tether (USDT)</option>
            <option>BNB (BNB)</option>
            <option>USD Coin (USDC)</option>
          </select>
        </div>

        <% for (let i = 0; i < 5; i++) { %>
          <div>
            <!-- Start Section Header 1 -->
            <section id="cs_header" class="row">

              <div class="col-12">
                <ul class="coinsContainer">
                  <div class="name">
                    <p><%= coins[i].name %> (<%= coins[i].symbol %>)</p>
                  </div>
                  <p class="price">Current Price: $ <%= coins[i].quote.USD.price.toFixed(5) %></p>
                </ul>
              </div>

            </section>
            <!-- End Section Header 1 -->

            <!-- Start Section Body -->
            <div class="col-6 text-center pr-2 form">
              <form action="/buyCrypt" method="POST">
                <label for="cryptoType">cryptoType</label>
                <input name="cryptoType" id="cryptoType" class="cryptoType" type="hidden" value="<%= coins[i].slug %>" required />
                <label for="quantity">Quantity</label>
                <input name="quantity" id="quantity" class="quantity" type="number" max="100" min="1" required />
                <section id="cs_action_btns" class="row">
                  <button class="btn cs_btn_buy w-100" type="submit">
                    <i class="fa fa-long-arrow-down"></i> BUY
                  </button>
                </section>
              </form>
            </div>

            <div class="col-6 text-center pr-2 form">
              <form action="/sellCrypto" method="POST">
                <label for="cryptoType">cryptoType</label>
                <input name="cryptoType" id="cryptoType" class="cryptoType" type="text" placeholder="<%= coins[i].slug %>" required />
                <label for="quantity">Quantity</label>
                <input name="quantity" id="quantity" class="quantity" type="number" max="100" min="1" required />
                <section id="cs_action_btns" class="row">
                  <button class="btn cs_btn_sell bg-success w-100">
                    <i class="fa fa-long-arrow-up"></i> SELL
                  </button>
                </section>
              </form>
            </div>

            <!-- <div class="col-6 text-center pr-2" href="/coins/sell/<%= coins[i].slug %>" method="POST" action="sellCrypto">
              <section id="cs_action_btns" class="row">
                <button class="btn cs_btn_sell bg-success w-100">
                  <i class="fa fa-long-arrow-up"></i> SELL
                </button>
              </section>
              <label for="cryptoType">Crypto Name</label>
              <input name="cryptoType" id="cryptoType" class="cryptoType" type="text" placeholder="<%= coins[i].slug %>" required />
              <label for="quantity">Quantity</label>
              <input name="quantity" id="quantity" class="quantity" type="number" max="100" min="0" required />
            </div> -->

            <!-- End Section Body -->
        <% } %>



          <!-- Start Section Body -->
          <section id="cs_body_transactions" class="row">

            <div class="col-12 text-center">
              <div class="body_title text-left">
                Recent transaction
              </div>
              <div class="transactions_list">
                <div class="row">
                  <div class="col-2 justify-content-center align-self-center transactions_thumb">
                    <i class="fa fa-long-arrow-down"></i>
                  </div>
                  <div class="col-6 text-left pl-2 justify-content-center align-self-center">
                    <span class="transaction_title">
                      Received
                    </span>
                    <span class="transaction_caption">
                      Jan 7, 2023 01:55 PM
                    </span>
                  </div>
                  <div class="col-4 justify-content-center align-self-center text-right transaction_amount">
                    + 0.115 BTC
                  </div>
                </div>
                <div class="row">
                  <div class="col-2 justify-content-center align-self-center transactions_thumb">
                    <i class="fa fa-long-arrow-up"></i>
                  </div>
                  <div class="col-6 text-left pl-2 justify-content-center align-self-center">
                    <span class="transaction_title">
                      Sent
                    </span>
                    <span class="transaction_caption">
                      Jan 8, 2023 03:14 PM
                    </span>
                  </div>
                  <div class="col-4 justify-content-center align-self-center text-right transaction_amount amount_sent">
                    - 0.032 BTC
                  </div>
                </div>
              </div>
            </div>

          </section>
          <!-- End Section Body -->

        </div>


      </main>

    </div>

    <pre><%= JSON.stringify(coins, null, 4) %></pre>
  </body>
</html>

